#aboutme {
	width:70%;
	float:left;
}
#header {
	background-color:#555;
}
#nav {
	background-color:#888;
}
#sidebar {
	padding:15px;
	margin-right:20%;
	height:250px;
	float:right;
	background-color:#999;
}
#footer {
	width:100%;
	float:left;
	text-align:center;
	background-color:#333;
}
#nav {
	width:100%;
	float:right;
	display:inline;
}
#profilepic {
	float:left;
}
#container {
	background-color:#999;
}
#aboutme {

	width:40%;
	padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}
h1 {
	font-size:24px;
	font-weight:bold;
	font-family:georgia;
}
p {
	font-family:sans-serif;
}
