#aboutme {
	width:40%;
	float:left;
	padding:10px;
}
#header {
	background-color:#555;
	padding:25px;
}
#sidebar {
	padding:15px;
	margin-right:20%;
	margin-bottom:20px;
	height:250px;
	float:right;
	background-color:#999;
}
#footer {
	width:100%;
	float:left;
	text-align:center;
	background-color:#333;
}
#nav {
	width:50%;
	float:right;
	display:block;
	background-color:#555;
}
#profilepic {
	float:left;
}
#aboutsection {
	margin-top:70px;
	margin-left:50px;
}
#social {
	margin-top:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
h1 {
	font-size:24px;
	font-weight:bold;
	font-family:georgia;
}
h2 {
	font-size:20px;
	font-weight:bold;
	font-family:georgia;
}
p {
	font-family:sans-serif;
}
